<app-header
  applicationName="Todo Frontend"
  applicationLogoUrl="/assets/images/logo.jpg"
>
  <div id="extra-links" header>
    <div>
      <a mat-button href="https://github.com/groovytron/angular-playground" target="_blank">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </div>
  <div id="application-menu" navigation>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/todo">My Todos</a>
  </div>
</app-header>
<main>
  <ng-container *ngIf="!isLoading; else loader">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #loader>
    <p>Navigation is loading...</p>
  </ng-template>
</main>
